In [2]:
x=10
print(type(x))

<class 'int'>

In [3]:
x=5.6
print(type(x))

<class 'float'>

In [5]:
l=[1,'Hello',7.6,True]
print(type(l))

<class 'list'>

In [6]:
t=(1,'Hello',7.6,True)
print(type(t))

<class 'tuple'>

In [7]:
#Arithmetic Operator
a=20
b=10
print(a+b,a-b,a*b,a/b,a**b,a%b)

30 10 200 2.0 10240000000000 0

In [10]:
#Comparison Operator
x=7
y=6
print(y>x)

False

In [12]:
x=10
y=5
z=6
s=9
print(x>y and z>s)

False

In [13]:
#Assignment Operator
x=7
x+=1
print(x)

8

In [14]:
#Identity Operator
x=6
z=5
print(x is z)

False

In [15]:
#Object Reusability
x=6
y=6 
print(x is y)

True

In [18]:
x=5.6
y=5.6
print(x is y)
#The answer will be false because of object reusabilty which ranges from -5 to 256 and object reusability is applicable for boolean and string but not for float values
print(id(x))

False
2196302214928

In [20]:
z='India'
x='India'
print(x is z)
print(id(x))
print(id(z))

True
2196303875952
2196303875952

In [22]:
z='#India'
x='#India'
print(x is z)
print(id(x))
print(id(z))
#Here the rule of object reusability does not apply due to the use of special symbols in the string

False
2196303910768
2196303910960

In [23]:
#input function
x=input("Enter age:")
print(type(x))
print(x)

Enter age:56
<class 'str'>
56

In [29]:
#Output Function
print(10,end='\t')
print(11,end='\t')
print(12,end='\n')
print(10,11,12)
print(10,11,12,sep='\t')
x=19
y=29
print(f'The value of x is {x} and y is {y}')

10	11	12
10 11 12
10	11	12
The value of x is 19 and y is 29

In [33]:
#eval function
x=eval(input("Enter the value:"))
print(type(x))
y=eval(input("Enter the value:"))
print(type(y))
print(type(y[1]))

Enter the value:10
<class 'int'>
Enter the value:[3,5,6]
<class 'list'>
<class 'int'>

In [34]:
#len function
x="python class"
y=[5,6,7]
print(len(x))
print(len(y))

12
3

In [39]:
#indexing
x='Python Class'
y=[4,7,6,5,9,8,'y','g','j']
print(x[7])
print(y[3])
print(x[-5])
print(x[-10])

C
5
C
t

In [50]:
#Slicing
x='Python_Class'
y=[4,7,6,5,9,8,'y','g','j']
print(x[0:7:1])
print(x[0:len(x):3])
print(x[0:len(x):-1])
print(x[-1:-10:-1])
print(x[::-1])
print(x[-1:-10:-2])
print(x[1::3])
print(x[:5:3])

Python_
Ph_a

ssalC_noh
ssalC_nohtyP
saCnh
yoCs
Ph

In [52]:
#Concatenation
x='India'
y='Indore'
print(x+y)

IndiaIndore

In [54]:
#Repeatition
x='India'
print(x*3)

IndiaIndiaIndia

In [56]:
#Membership Operator
x='India Indore'
print('Ind' in x)

True

# String methods


x='india'
print(x.upper())

In [58]:
x='InDIA'
print(x.lower())

india

In [61]:
x='InDiA'
print(x.swapcase())

iNdIa

In [62]:
x='live in india'
print(x.title())

Live In India

In [71]:
x='i live in india'
print(x.startswith('live'))
print(x.startswith('live',0,7))

False
False

In [74]:
x='i live in india'
print(x.endswith('ia'))
print(x.endswith('ve',2,6))

True
True

In [69]:
#Escape Character
x='live\t in india'
print(x)
x='live\n in india'
print(x)
x='live\b in india'
print(x)

live	 in india
live
 in india
live in india

In [75]:
x='INDIA'
print(x.isupper())

True

In [76]:
x='inDIa'
print(x.islower())

False

In [77]:
x='India Indore'
print(x.istitle())

True

In [81]:
x=' india '
print(len(x))
x.strip()
print(len(x.strip()))

7
5

In [82]:
x=' india '
print(len(x))
print(len(x.rstrip()))#removes the extra space on the right side

7
6

In [83]:
x=' india '
print(len(x))
print(len(x.lstrip()))#removes the extra space on the left side

7
6

In [91]:
#count function
x=' india is my country'
print(x.count(' '))
print(x.count('i',3,))

4
3

In [108]:
#find
x='i live in indore'
print(x.find('i'))
print(x.find('i',1,7))
print(x.find('i',0,))

print(x.rfind('i'))
x='i live in indoie'
print(x.rfind('i',11,))

0
3
0
10
14

In [114]:
#replace
x='i live in indore'
print(x.replace('i','x'))

x='i live in indore'
print(x.replace('i','x',2))#the number of times the character is to be replaced

x=x[::-1]
x=x.replace('i','x',2)
x=x[::-1]
print(x)

x lxve xn xndore
x lxve in indore
i live xn xndore

In [124]:
#split
x='I live in indore'
y=x.split()
print(y)

['I', 'live', 'in', 'indore']

In [126]:
#join
print(''.join(y))

I***live***in***indore

# List

In [127]:
x=['apple','banana','grapes','orange','mango']
print(len(x))

5

In [129]:
y=eval(input("Enter value of list:"))
print(y)

Enter value of list:[4,7,6,9,6,3,2,1,9]
[4, 7, 6, 9, 6, 3, 2, 1, 9]

In [132]:
l1=[3,5,8,11,34,56,78]
print(l1[::2])
print(l1[::-1])

[3, 8, 34, 78]
[78, 56, 34, 11, 8, 5, 3]

In [133]:
#concatenation
x=[3,6,5,8,7]
y=[7,2,7]
print(x+y)

[3, 6, 5, 8, 7, 7, 2, 7]

In [140]:
#repeatition
x=[3,6,5,8,7]
print(x*3)

[5, 7, 6, [7, 8, 9], 8, 4, 3, 5, 7, 6, [7, 8, 9], 8, 4, 3, 5, 7, 6, [7, 8, 9], 8, 4, 3]

In [135]:
#membreship
x=[5,8,7,3,5,8,0]
print(8 in x)

True

In [138]:
#nested lists
x=[5,7,6,[7,8,9],8,4,3]
print(x[3])
print(x[3][1])
print(x[-4][-1])

[7, 8, 9]
8
9

In [141]:
#append
x=[3,4,6,5]
x.append(8)
print(x)

[3, 4, 6, 5, 8]

In [152]:
#insert
x=[3,4,5,6,7,8]
x.insert(5,2)
print(x)

[3, 4, 5, 6, 7, 2, 8]

In [155]:
#Extend
l1=[4,5,6]
l2=[7,8,9]
l1.extend(l2)
print(l1)

[4, 5, 6, 7, 8, 9]

In [159]:
#pop
l1=[4,5,6,7,8,9]
print(l1.pop(-1))

9

In [160]:
#remove
l1=[4,5,6,7,8,9]
l1.remove(7)
print(l1)

[4, 5, 6, 8, 9]

In [162]:
#del
l1=[4,5,6,7,8,9]
del l1[3]
print(l1)

[4, 5, 6, 8, 9]

In [163]:
#reverse
l1=[4,5,6,7,8,9]
l1.reverse()
print(l1)

[9, 8, 7, 6, 5, 4]

In [166]:
#sort
l1=[4,7,2,5,9,8]
l1.sort()
print(l1)
l1.sort(reverse=True)
print(l1)

[2, 4, 5, 7, 8, 9]
[9, 8, 7, 5, 4, 2]

In [168]:
#clear
l1=[4,56,7,8]
l1.clear()
print(l1)

[]

In [169]:
#count
l1=['y','o','u','a','r','e','a','b','i','t','c','h']
print(l1.count('a'))

2

# Loops

For Loop

In [176]:

for i in range(4,40,5):
    print(i,end=' ')

4 9 14 19 24 29 34 39

In [173]:
for i in range(40,4,-2):
    print(i,end=' ')

40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6

In [175]:
x='india'
for i in x:
    print(i)

i
n
d
i
a

In [177]:
x='india'
for i in range(0,len(x)):
    print(x[i])

i
n
d
i
a

In [178]:
l1=[6,7,8]
l2=[x*x for x in l1] #list comprehension
print(l2)

[36, 49, 64]

In [180]:
l1=[6,7,8]
l2=[]
for i in range(len(l1)):
    l2.append(l1[i]*l1[i])
print(l2)

[36, 49, 64]

In [189]:
l1=[6,7,8]
l2=[]
for i in range(len(l1)-1,-1,-1):
    l2.append(l1[i]**3)
print(l2)

[512, 343, 216]

In [194]:
x=['python','class']
print(x)
y=x
for i in range(len(y)):
    y[i]=y[i][::-1]
    
print(y)
print(" ".join(y))

['python', 'class']
['nohtyp', 'ssalc']
nohtyp ssalc

In [195]:
x='hello world'
y=x.split()
w=[]
for i in y:
    w.append(i[::-1])
print(" ".join(w))

olleh dlrow

In [2]:
x='python class summer'
y=[]
for i in x.split():
    y.append(i[0])
    
print(" ".join(y))

p c s

In [17]:
#list comprehension
y=[4,5,6,8,4,3,6,7,0,9,8,7]
z=['Even' if x%2==0 else 'Odd' for x in y ]
print(z)

['Even', 'Odd', 'Even', 'Even', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

# Tuple

In [20]:
y=(1,2,'abc',True,57.6)
print(y)
print(type(y))

(1, 2, 'abc', True, 57.6)
<class 'tuple'>

In [21]:
x=(1,2,'abc',True,[6,76,8],(5,7,6),78)
print(x[1::3])

(2, [6, 76, 8])

Tuple packing

In [22]:
t1=(2,4,5,6)
print(t1)

(2, 4, 5, 6)

Tuple unpacking

In [27]:
w,x,y,z=2,4,5,6
print(w,x,y,z)
print(type(w))

2 4 5 6
<class 'int'>

# Dictionary

In [34]:
x={'name':'Avni','City':'Indore'}
print(x)
print(type(x))
print(x['name'],'lives in',x['City'])
print(x['name'][::-1])

{'name': 'Avni', 'City': 'Indore'}
<class 'dict'>
Avni lives in Indore
invA

In [40]:
#Update
x={'name':['Avni','Fiza','Ashish'],'City':['Indore','Kota','Ratlam']}
x['Age']=[21,22,21]
print(x)

{'name': ['Avni', 'Fiza', 'Ashish'], 'City': ['Indore', 'Kota', 'Ratlam'], 'Age': [21, 22, 21]}

In [41]:
x={'name':'Akash','Age':57}
x.update({'city':'indore','salary':10000})
print(x)

{'name': 'Akash', 'Age': 57, 'city': 'indore', 'salary': 10000}

In [46]:
#y={'akash'=1000,'anil'=2000,'ajit'=7000}
n=int(input("Enter the value"))
dic1={}
for i in range(n):
    n=input("Enter the name:")
    s=int(input("Enter his salary"))
    dic1[n]=s
print(dic1)

Enter the value of test cases3
Enter the name:akash
Enter his salary1000
Enter the name:anil
Enter his salary2000
Enter the name:ajit
Enter his salary7000
{'akash': 1000, 'anil': 2000, 'ajit': 7000}

In [49]:
#Pop
y={'akash':1000,'anil':2000,'ajit':7000}
print(y.pop('akash'))

1000

In [53]:
#PopItem
y={'akash':1000,'anil':2000,'ajit':7000}
print(y.popitem())

('ajit', 7000)

In [56]:
y={'akash':1000,'anil':2000,'ajit':7000}
print(list(y.keys()))

['akash', 'anil', 'ajit']

In [57]:
y={'akash':1000,'anil':2000,'ajit':7000}
print(list(y.values()))

[1000, 2000, 7000]

In [58]:
y={'akash':1000,'anil':2000,'ajit':7000}
print(list(y.items()))#dictionary in the form of list of tuples of items

[('akash', 1000), ('anil', 2000), ('ajit', 7000)]

Dictionary Comprehension

In [59]:
a=[4,5,6]
x={i:i**2 for i in a}
print(x)

{4: 16, 5: 25, 6: 36}

Zip Function

In [60]:
keys=[3,6,5,4]
values=['three','six','five','four']
print(list(zip(keys,values)))#list of tuples
print(dict(zip(keys,values)))

[(3, 'three'), (6, 'six'), (5, 'five'), (4, 'four')]
{3: 'three', 6: 'six', 5: 'five', 4: 'four'}

In [74]:
dict1={'a':1,'b':2,'c':3,'d':2}
dict2=dict1.copy()
for i in dict1: 
    if dict1[i]==2:
         dict2.pop(i)

print(dict2)

#OR

dict1={'a':1,'b':2,'c':3}
dict2={i:dict1[i] for i in dict1 if dict1[i]!=2}
print(dict2)

{'a': 1, 'c': 3}
{'a': 1, 'c': 3}

In [3]:
x='indore india'
l1=[]
for i in x:
    if i=='i':
        l1.append('z')
    else:
        l1.append(i)
print("".join(l1))

zndore zndza

In [3]:
sum=0
for i in range(6):
    sum+=i
print(sum)

15

Break and continue

In [5]:
for i in range(7):
    if i==5:
        continue
    print(i)

0
1
2
3
4
5
6

In [6]:
for i in range(11):
    if i%5==0:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [7]:
x=[12,13,15,17,19]
y=[i for i in x if i%5!=0]
print(y)

[12, 13, 17, 19]

In [11]:
count=0
l1=[]
s='indore india india'
for i in s:
    if i=='i' and count<3:
        l1.append('x')
        count+=1
    else:
        l1.append(i)
print("".join(l1))

xndore xndxa india

In [16]:
for i in range(4):
    for j in range(4):
        if i==j:
            break
            
        else:
            print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2

In [31]:
s='python'
for i in range(len(s)):
    print(s[i]*(i+1))

p
yy
ttt
hhhh
ooooo
nnnnnn

In [32]:
s='python'
t=s[::-1]
for i in range(len(s)):
    print(t[i]*(i+1))

n
oo
hhh
tttt
yyyyy
pppppp

# Functions

In [33]:
def sum(a,b):
    c=a+b
    return c
x=sum(2,3)
print(x)

5

In [3]:
def pallindrome(s):
    if s==s[::-1]:
        print("True")
    else:
        print("False")
s=input("Enter a name :")
pallindrome(s)

Enter a name :12321
True

In [2]:
def even_odd(n):
    if n%2==0:
        print("Even")
    else:
        print("Odd")
n=int(input("Enter a value:"))
even_odd(n)

Enter a value:77
Odd

Lambda Function

In [7]:
y= lambda x: 'even' if x%2==0 else 'odd'
print(y(6))

even

In [4]:
z= lambda x,y: x if x>y else y
print(z(2,5))

5